/*--------------------------------------------------------------general*/
*{
margin: 0;
padding: 0;
}

html{
font-size: 62.5%;
}
body{

}

p, h1, h2, h3, h4, a{
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
}

/*body *{
  border: 2px solid yellow;
}*/

section{
  margin-bottom: 30px;
}

.contenu{
  width: 77%;
  margin: 9em auto 0;
}

h1{

}

h2{
	 font-size: 3.6rem;
	 margin: auto 0;
}

h3{
  font-size: 2.2rem;
  font-weight: bold;
}

h4{
  font-size: 1.6rem;
}

p{
  font-size: 1.6rem;
  margin:1.7em 0;

}
a{
  text-decoration: none;
}

li{
  list-style: none;
}

.titre i{
font-size: 40px;
color: #e50909;
}

/*--------------------------------------------------------------header*/
.headerbackground{
width: 100%;
height: 25em;
background-image: url(../img/header.jpg);
}

.main_title{
  position: absolute;
  top: 5em;
  text-align:center;
}

nav{
  top: 24em;
  height: 70px;
  background-color: #e50909;
  position: absolute;
  width: 100%;
  box-shadow: 0px 10px 5px 0px #656565;
  text-align: center;
}



ul{
  width: 100%;
  display: inline-flex;
  justify-content: center;

}

nav ul li{

  height: 70px;
  padding: 0 0.5em;
  border: 1px #fff solid;
  border-top: hidden;
  border-bottom: hidden;
  text-align: center;


}

nav ul li a{
	font-size: 22px;
	color: #fff;
  align-items: center;
  margin: 10px;
}

nav ul li:hover a{
  background-color: #fff;
    color: #000;
}

nav ul li a:hover{


}

/*--------------------------------------------------------------l'équipe*/

.titre{
  display: inline-flex;
  height: 6em;
}

.titre h2{
    margin-left: 0.2em;
}

.membre{
	width: 150px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.allteam{
	display: flex;
	flex-wrap: wrap;
}

/*--------------------------------------------------------------map*/



/*--------------------------------------------------------------contact*/


.contenu2{
  width: 77%;
  margin: 2em auto 0;
}

form{
width: 38em;
padding: 20px;
display: flex;
flex-direction: column;


}

.formulaire{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.field input{
  float: right;
  background-color: inherit;
  width: 80%;
  height: 3em;
  border: none;
}

.field{
  width: 100%;
  height: 5em;
  margin: 10px 10px;
  border: 1px grey solid;
}

.textarea{
  margin: 10px;
  width: 100%;
  height: 10em;
  border: 1px grey solid;
}

textarea{
  margin-top: 10px;
  width: 80%;
  height: 7em;
  resize: none;
  border: none;
  float: right;
}

.button {
  margin: auto;
  width: 160px;
  height: 55px;
  background-color: #e50909;
  border-radius: 5px;
  color: #fff;

}

form i {
  margin: 15px 20px;
  font-size: 20px;
}

/*--------------------------------------------------------------footer*/

footer{
  background-color: #910e00;
  height: 150px;
  width: 100%;
  position: absolute;
  text-align: center;
}

footer i{
  color: #fff;
  font-size: 40px;
  margin: 50px 15px;
}
